@page "/profile"
@using GazoVodoProvod.Data
@inject NavigationManager NavigationManager
@inject SingletonService singletonUserService

<h3>Profile</h3>

<form>
    <label>Login</label><br />
    <input type="text" readonly value="@singletonUserService.GetUser().Login"><br>
    <label>email</label><br />
    <input type="text" readonly value="@singletonUserService.GetUser().Email"><br>
    <label>Name</label><br>
    <input type="text" readonly value="@singletonUserService.GetUser().FName"><br>
    <label>Surname</label><br>
    <input type="text" readonly value="@singletonUserService.GetUser().LName"><br>
</form>
<br>
<button class="btn btn-primary" @onclick="Logout">Sign out</button>

@code {
    private void Logout()
    {
   //   singletonUserService.SetUser(new User());
        NavigationManager.NavigateTo("authorization");  }
}